.carousel-container {
    width: 1240px;
    margin: 0 auto;
    padding-top: 50px;
    margin-top: 150px;
}

.carousel-container .slick-slide img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}



.slick-prev,
.slick-next {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 50%;
    font-size: 18px;
    z-index: 1;
}

.slick-prev:hover,
.slick-next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.slick-dots {
    bottom: 10px;
}

.slick-dots li button:before {
    color: #999;
    font-size: 12px;
}


.slick-dots li.slick-active button:before {
    color: #333;
}